section.banner-carousel(data-slickjs='bannerCarousel')
    .banner-item
        .banner-item-image(style='background-image: url(../assets/images/pages/service/carousel/cg-landing.jpg);')
        .container.cont-16
            .banner-hero
                table.banner-hero-middle
                    tbody
                        tr
                            td
                                .brand-hero-title Corporate gifting
                                .brand-hero-subtitle Reward your clients, partners or employees with Robinsons Gift Vouchers.

section.gift-section
    .container.cont-16
        .decoration-wrapper
            .deco-01(style='background-image: url(../assets/images/pages/service/corperate-gifting/deco-01.png);')
            .deco-02(style='background-image: url(../assets/images/pages/service/corperate-gifting/deco-02.png);')
            .deco-03(style='background-image: url(../assets/images/pages/service/corperate-gifting/deco-03.png);')
            .deco-infogram
                .deco-title MORE THAN JUST A GIFT
                .deco-subtitle The Robinsons Gift Voucher is the ideal gift allowing the recipient to shop at any of the stores from Robinsons Group of Companies. It offers the recipient a wide range of local and international designers, beddings and household products, beauty, kids and more. 
                
section.site-section
    .container.cont-16
        .heading
            .heading-title.txt-center AVAILABLE SERVICES
        .articles-wrapper.clearfix(data-row-equaliser='.articles-title')
            .articles-content
                .articles-image-holder
                    img(src= imgPath + 'pages/article/service/img-01.jpg')
                .articles-post
                    .articles-title.vertical-middle.txt-center CORPORATE GIFTING
                    .articles-submain
                        | Whether you are looking for Corporate gifts (Year End Corporate gift/ Corporate Events), Company social functions (Annual Dinner & Dance/ Family Day/ Anniversaries) or Staff incentive programmes (Long Service Award/ Performance Award/ Staff Welfare Program), we are glad to assist you.
            .articles-content
                .articles-image-holder
                    img(src= imgPath + 'pages/article/service/img-02.jpg')
                .articles-post
                    .articles-title.vertical-middle.txt-center ROBINSONS GIFT VOUCHERS
                    .articles-submain
                        | Available in RM10, RM50 & RM100 denominations, Robinsons Gift Vouchers are valid for 2 years from the month of issue and can be used at these store in Malaysia: Robinsons, Marks & Spencer, Oasis London (One Utama) and selected Royal Sporting House Group of Stores.
                        .articles-small.txt-center Please #[a(href='#/') Click Here] to view the full list of participating stores.
            .articles-content
                .articles-image-holder
                    img(src= imgPath + 'pages/article/service/img-03.jpg')
                .articles-post
                    .articles-title.vertical-middle.txt-center  REDEMPTION PROGRAMME
                    .articles-submain
                        | As part of the programme, corporate partners can choose to run redemption programmes by having their members present an official redemption letter from the organisation. These letters will be used to redeem Robinsons Gift Vouchers.
    

section.site-section
    .container.cont-16
        .contact-infogram.clearfix
            .contact-title CONTACT US
            .contact-details 
                | For more information on Corporate Purchases, please call 
                strong 03-2089 1028 
                | or e-mail us at 
                a(href='mailto:corporate.sales@robinsons.com.my') corporate.sales@robinsons.com.my
                |.
                
