section.banner-carousel(data-slickjs='bannerCarousel')
    .banner-item
        .banner-item-image(style='background-image: url(../assets/images/pages/service/carousel/porter-service-landing.jpg);')
        .container.cont-16
            .banner-hero
                table.banner-hero-middle
                    tbody
                        tr
                            td
                                .brand-hero-title Porter Service
                                .brand-hero-subtitle Shop to your heart’s content and leave the heavy lifting to us.

section.move-bag-section
    .container.cont-16
        .move-bag-wrapper
            .move-bag-02(style='background-image: url(../assets/images/pages/service/porter-service/deco-01.png);')
            .move-bag-infogram
                .move-bag-title Need help with your shopping bags?
                .move-bag-subtitle Just give us a call and we’ll help you move your bags and items to wherever you’re going – be it the carpark, hotel or elsewhere – 
                    strong for free.
                .move-bag-contact-info For more information, contact us at:
                .move-bag-contact-no-wrapper
                    .move-bag-contact-no Robinsons the Gardens Mall
                        strong 03 - 2089 1188
                    .move-bag-contact-no Robinsons Kuala Lumpur
                        strong 03 - 2382 7188