section.banner-carousel(data-slickjs='bannerCarousel')
    .banner-item
        .banner-item-image(style='background-image: url(../assets/images/pages/service/carousel/return-exchanges-landing.jpg);')
        .container.cont-16
            .banner-hero
                table.banner-hero-middle
                    tbody
                        tr
                            td
                                .brand-hero-title returns &amp; exchanges

section.site-section.typo-section
    .container.cont-16
        .heading
            .heading-title RETURNS &amp; EXCHANGES
        .typography-wrapper
            .typography-title i) RETURN, REFUND &amp; EXCHANGE OF PRODUCTS

            .typography-content
                p Robinsons will be pleased to refund or exchange item(s) purchased from the store with the following conditions :
                ul.typography-list
                    li Customer may exchange or return the items within 7 days from the date of purchase
                    li Bring along the original receipts and the original packaging with the price tags intact
                    li Refunds will be made in the form of Robinsons Gift Vouchers. For amounts less than RM5, refunds will be made in the form of cash
                    li Non-refundable/exchangeable items include Sale items, personalized items, time-critical items, special orders, food and items worn on the body (perfume, toiletries, jewellery and lingerie)*
                p.small *For a full list of products, kindly check with the respective departments
