section.banner-carousel(data-slickjs='bannerCarousel')
    .banner-item
        .banner-item-image(style='background-image: url(../assets/images/pages/service/carousel/styleConsultants-landing.jpg);')
        .container.cont-16
            .banner-hero
                table.banner-hero-middle
                    tbody
                        tr
                            td
                                .brand-hero-title Style Consultants
                                    span @Robinsons Kuala Lumpur
                                .brand-hero-subtitle A gift idea, a wardrobe overhaul, a home makeover – we’ll help you find the perfect items for every occasion.
   
section.site-section.styleConsultants-section
    .container.cont-16
        .heading
            .heading-title.txt-center AVAILABLE SERVICES
        .articles-wrapper.clearfix(data-row-equaliser='.articles-title')
            .articles-content
                .articles-image-holder
                    img(src= imgPath + 'pages/article/service/img-04.jpg')
                .articles-post
                    .articles-title.vertical-middle.txt-center HANDPICKED SELECTION
                    .articles-submain
                        | Whether its for work or date night, our crew of fashion experts will make sure you’re dressed for ttthe occasion
            .articles-content
                .articles-image-holder
                    img(src= imgPath + 'pages/article/service/img-05.jpg')
                .articles-post
                    .articles-title.vertical-middle.txt-center  STYLING ADVISE
                    .articles-submain
                        | With a love for personal styling and an eye on the latest trends, our stylists will build you an edit to excite.
            .articles-content
                .articles-image-holder
                    img(src= imgPath + 'pages/article/service/img-06.jpg')
                .articles-post
                    .articles-title.vertical-middle.txt-center  NOT JUST FASHION
                    .articles-submain
                        | From beddings to home appliances, we’ll help you pick out just what you need.
    

section.site-section.styleConsultants-section
    .container.cont-16
        .meetConsultant-infogram.clearfix
            .meetConsultant-title Ready to meet 
                span.noSpace your style consultant?
            .meetConsultant-sub Call us at 
                strong 03-2089 1188 
                | to make an appointment, or book one online.
            a.button.black.btn-bookAppointment(href='#') BOOK APPOINTMENT
            br
            a.meetConsultant-tnc(href='#') Terms &amp; Conditions
                
