extends ../include/defaults

block config
    - rootBase = '../'
    - title = 'Style & Fashion'
    - breadcrumb = 'Autumn Winter 2017'
    - pageClass = 'style-fashion'
    - imgPath = rootBase + 'assets/images/'
    - cssPath = rootBase + 'assets/css/internal/'
    - jsPath  = rootBase + 'assets/js/'

block stylesheet
    
block javascript

block content
    include ../include/components/_breadcrumb
    include ../include/partials/style-fashion/_details-01
