section.banner-carousel(data-slickjs='bannerCarousel')
    .banner-item
        .banner-item-image(style='background-image: url(../assets/images/pages/style-fashion/carousel/set-b-landing.jpg);')
        .container.cont-16
            .banner-hero
                table.banner-hero-middle
                    tbody
                        tr
                            td
                                .brand-hero-title The beauty foundation
                                .brand-hero-subtitle What’s hot and what’s not. Our experts provide a checklist of what you’ll need to build up your wardrobe.
section
    .container.cont-16
        .open-wrapper.txt-center
            .open-heading Robinsons's Autumn Winter 2017 Women's collection Includes embellished Royal Borough style, combination of modern vintage and aristocratic eccentricity, sophisticated slimline silhouette, and elegant yet seductive look for the perfect cocktail night.
            .open-subheading For the Men's collection, Robinsons brings eccentric London’s street wear design, bold statement graphic elements, sports-luxe and precision street wear.
section.articles-box
    .container.cont-16
        .box-half-container.box-columns
            .box-half-row
                .box-half-cell
                    .box-images-holder
                        img(src= imgPath + 'pages/style-fashion/post/img-05.jpg')
                    .box-desc
                        .box-desc-title For Her
                        .box-desc-info 
                            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        .button-wrapper.txt-center
                            a.button.black(href= rootBase + '#/') New Arrivals – For Her
                .box-half-cell
                    .box-images-holder
                        img(src= imgPath + 'pages/style-fashion/post/img-06.jpg') 
                    .box-desc
                        .box-desc-title For Him
                        .box-desc-info 
                            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        .button-wrapper.txt-center
                            a.button.black(href= rootBase + '#/') New Arrivals – For Him
            
        .button-wrapper.txt-center
            a.button.black(href= rootBase + 'style-fashion/index.html')
                i.icon-button.icon-arrow
                | Back To listing
section.site-section
