section.banner-carousel(data-slickjs='bannerCarousel')
    .banner-item
        .banner-item-image(style='background-image: url(../assets/images/pages/style-fashion/carousel/style-landing.jpg);')
        .container.cont-16
            .banner-hero
                table.banner-hero-middle
                    tbody
                        tr
                            td
                                .brand-hero-title Style &amp; Fashion
                                .brand-hero-subtitle Stay ahead of the curve with the latest new fashion trends, outfit ideas, celebrity style and designer news.

section.articles-box
    .container.cont-16
        .box-half-container
            .box-half-row
                .box-half-cell
                    .box-images-holder
                        img(src= imgPath + 'pages/style-fashion/post/img-01.jpg')
                .box-half-cell   
                    .box-desc
                        .box-desc-title AUTUMN WINTER 2017 #[br] COLLECTION
                        .box-desc-info 
                            p Robinsons's Autumn Winter 2017 Women's collection Includes embellished Royal Borough style, combination of modern vintage and aristocratic eccentricity, sophisticated slimline silhouette, and elegant yet seductive look for the perfect cocktail night.
                        .button-wrapper.txt-center
                            a.button.black(href= rootBase + 'style-fashion/details-01.html') Read More
            .box-half-row
                .box-half-cell
                    .box-images-holder
                        img(src= imgPath + 'pages/style-fashion/post/img-02.jpg')
                .box-half-cell   
                    .box-desc
                        .box-desc-title THE BEAUTY FOUNDATIONS
                        .box-desc-info 
                            p From targeted skincare technology to active ingredients, acids and enzymes, multi-tasking make-up to rich pigment, hybrid formulations, superfoods to supplements, tackling complexion concerns from the inside-out or outside-in, beauty has never been…
                        .button-wrapper.txt-center
                            a.button.black(href= rootBase + 'style-fashion/details-02.html') Read More
section
    .container.cont-16
        .heading
            .heading-title.txt-center WHAT’S HOT ON INSTAGRAM 
        .gallery-box.clearfix
            .gallery-item.insta-col
                .image-holder
                    img(src= imgPath + 'pages/style-fashion/insta/img-01.jpg')
            .gallery-item.insta-col
                .image-holder
                    img(src= imgPath + 'pages/style-fashion/insta/img-02.jpg')
            .gallery-item.insta-col
                .image-holder
                    img(src= imgPath + 'pages/style-fashion/insta/img-03.jpg')
            .gallery-item.insta-col
                .image-holder
                    img(src= imgPath + 'pages/style-fashion/insta/img-04.jpg')
            .gallery-item.insta-col
                .image-holder
                    img(src= imgPath + 'pages/style-fashion/insta/img-05.jpg')
            .gallery-item.insta-col
                .image-holder
                    img(src= imgPath + 'pages/style-fashion/insta/img-06.jpg')
            .gallery-item.insta-col
                .image-holder
                    img(src= imgPath + 'pages/style-fashion/insta/img-07.jpg')
            .gallery-item.insta-col
                .image-holder
                    img(src= imgPath + 'pages/style-fashion/insta/img-08.jpg')
