include ../components/_side-footer

footer
    .container.cont-16.clearfix#isDesktop
        .footer-col
            .footer-content
                .footer-heading Stores
                ul.footer-list
                    li
                        a.footer-navi(href= rootBase + 'stores/kuala-lumpur.html') Robinsons Kuala Lumpur
                    li
                        a.footer-navi(href= rootBase + 'stores/the-gardens.html') Robinsons The Gardens Mall
                    li
                        a.footer-navi(href= rootBase + 'stores/singapore.html') Robinsons Singapore
                
        .footer-col
            .footer-content
                .footer-heading Shopping
                ul.footer-list
                    li
                        a.footer-navi(href= rootBase + 'brands/index.html') Brands
                    li
                        a.footer-navi(href= rootBase + 'store-front/new-arrival.html') New Arrivals
                    li
                        a.footer-navi(href= rootBase + 'whats-happening/index.html') What’s Happening
        .footer-col
            .footer-content
                .footer-heading Services
                ul.footer-list
                    li
                        a.footer-navi(href= rootBase + 'services/corporate-gifting.html') Corporate Gifting 
                    li
                        a.footer-navi(href= rootBase + 'services/membership.html') Membership
                    li
                        a.footer-navi(href= rootBase + 'services/returns-exchanges.html') Returns &amp; Exchanges
        .footer-col
            .footer-content
                .footer-heading Restaurants 
                ul.footer-list
                    li
                        a.footer-navi(href= rootBase + 'restaurants/index.html') Robinsons Kuala Lumpur
                    li
                        a.footer-navi(href= rootBase + 'restaurants/index.html') Robinsons The Gardens Mall
        .footer-col
            .footer-content
                .footer-heading About
                ul.footer-list
                    li
                        a.footer-navi(href= rootBase + 'about-us/heritage.html') Heritage
                    li
                        a.footer-navi(href= rootBase + 'about-us/career.html') Careers
                    li
                        a.footer-navi(href= rootBase + 'about-us/contact-us.html') Contact Us

    .container.cont-16
        .footer-disclaimer
            .company-logo
                img(src= imgPath + 'ui/company-logo.png')
            .disclaimer
                | Copyright © 2017 Robinsons Malaysia. All Rights Reserved. Regn No. 1155-K  &nbsp;
                a.footnote(href= rootBase + 'legals-policies/terms-and-conditions.html') Terms & Condition 
                span | 
                a.footnote(href= rootBase + 'legals-policies/privacy-policy.html') Privacy Policy
    
