extends ../include/defaults

block config
    - rootBase = '../'
    - title = 'Services'
    - breadcrumb = 'The Robinsons member card'
    - pageClass = 'services'
    - imgPath = rootBase + 'assets/images/'
    - cssPath = rootBase + 'assets/css/internal/'
    - jsPath  = rootBase + 'assets/js/'

block stylesheet
    
block javascript

block content
    include ../include/components/_breadcrumb
    include ../include/partials/services/_membership
