section.banner-carousel(data-slickjs='bannerCarousel')
    .banner-item
        .banner-item-image(style='background-image: url(../assets/images/pages/brand/carousel/brand-landing.jpg);')
        .container.cont-16
            .banner-hero
                table.banner-hero-middle
                    tbody
                        tr
                            td
                                .brand-hero-title.top #{title}
                                .brand-hero-subtitle From fashion and beauty to home and beyond, there's something for everyone at Robinsons.

section.site-section
    .container.cont-16
        .heading
            .heading-title.txt-center SHOP BRANDS BY
        .dropdown-hdr
            .dropdown.clearfix
                label(for='store') Store:
                i.caret-dropdown.icon-dropdown
                select.dropdown-control#store
                    option All Location
                    option The Gardens
                    option Singapore
            .dropdown.clearfix
                label(for='store') Category:
                i.caret-dropdown.icon-dropdown
                select.dropdown-control#store
                    option All Categories
                    option Exclusives
        .brand-tabs.tabs
            ul.tab-links
                li
                    a(href='#hash') #
                li
                    a(href='#a') A
                li
                    a(href='#b') B
                li
                    a(href='#c') C
                li
                    a(href='#d') D
                li
                    a(href='#e') E
                li
                    a(href='#f') F
                li
                    a(href='#g') G
                li
                    a(href='#h') H
                li
                    a(href='#i') I
                li
                    a(href='#j') J
                li
                    a(href='#k') K
                li
                    a(href='#l') L
                li
                    a(href='#m') M
                li
                    a(href='#n') N
                li
                    a(href='#o') O
                li
                    a(href='#p') P
                li
                    a(href='#q') Q
                li
                    a(href='#r') R
                li
                    a(href='#s') S
                li
                    a(href='#T') T
                li
                    a(href='#u') U
                li
                    a(href='#v') V
                li
                    a(href='#w') W
                li
                    a(href='#x') X
                li
                    a(href='#y') Y
                li
                    a(href='#z') Z
                li.active
                    a(href='#all') All
            .tab-content
                #hash.tab
                    .brand-header #
                    .brand-content.clearfix
                #a.tab
                    .brand-header a
                    .brand-content.clearfix
                        p 
                            a(href='') ACCESSORIZE HOME
                        p 
                            a(href='') ACTION EYEWEAR
                        p 
                            a(href='') AIGNER
                        p 
                            a(href='') AIRWAYS
                        p 
                            a(href='') AKEMI
                        p 
                            a(href='') AKIYO
                        p 
                            a(href='') ALPHA
                        p 
                            a(href='') ALLAN BROOKE
                        p 
                            a(href='') ALAIN DELON
                        p 
                            a(href='') ALLEBEBE
                        p 
                            a(href='') ALLERHAND
                        p 
                            a(href='') ALEX LIDDY
                        p 
                            a(href='') ALEXANDRE DE PARIS
                        p 
                            a(href='') ALPHA GEAR
                        p 
                            a(href='') AMERICAN TOURISTER
                        p 
                            a(href='') ADIDAS
                        p 
                            a(href='') ANGRY BIRDS
                        p 
                            a(href='') ANNE KELLY
                        p 
                            a(href='') ALAIN DELON
                        p 
                            a(href='') ANAMALZ
                        p 
                            a(href='') APRICA
                        p 
                            a(href='') ARNOLD PALMER
                        p 
                            a(href='') ARISTA
                        p 
                            a(href='') AROMABABY
                        p 
                            a(href='') ARTHUR PRICE
                        p 
                            a(href='') ATTIPAS
                        p 
                            a(href='') ASCASO
                        p 
                            a(href='') ASHIQA
                        p 
                            a(href='') ASVEL
                        p 
                            a(href='') AVENGERS
                        p 
                            a(href='') AVENT
                        p 
                            a(href='') ARISTA
                #b.tab
                    .brand-header b
                    .brand-content.clearfix
                #c.tab
                    .brand-header c
                    .brand-content.clearfix
                #d.tab
                    .brand-header d
                    .brand-content.clearfix
                #e.tab
                    .brand-header e
                    .brand-content.clearfix
                #f.tab
                    .brand-header f
                    .brand-content.clearfix
                #g.tab
                    .brand-header g
                    .brand-content.clearfix
                #h.tab
                    .brand-header h
                    .brand-content.clearfix
                #i.tab
                    .brand-header i
                    .brand-content.clearfix
                #j.tab
                    .brand-header j
                    .brand-content.clearfix
                #k.tab
                    .brand-header k
                    .brand-content.clearfix
                #l.tab
                    .brand-header l
                    .brand-content.clearfix
                #m.tab
                    .brand-header m
                    .brand-content.clearfix
                #n.tab
                    .brand-header n
                    .brand-content.clearfix
                #o.tab
                    .brand-header o
                    .brand-content.clearfix
                #p.tab
                    .brand-header p
                    .brand-content.clearfix
                #q.tab
                    .brand-header q
                    .brand-content.clearfix
                #r.tab
                    .brand-header r
                    .brand-content.clearfix
                #s.tab
                    .brand-header s
                    .brand-content.clearfix
                #t.tab
                    .brand-header t
                    .brand-content.clearfix
                #u.tab
                    .brand-header u
                    .brand-content.clearfix
                #v.tab
                    .brand-header v
                    .brand-content.clearfix
                #w.tab
                    .brand-header w
                    .brand-content.clearfix
                #x.tab
                    .brand-header x
                    .brand-content.clearfix
                #y.tab
                    .brand-header y
                    .brand-content.clearfix
                #z.tab
                    .brand-header z
                    .brand-content.clearfix
                #all.tab.active
                    .brand-header all
                    .brand-content.clearfix
                        p 
                            a(href='') ACCESSORIZE HOME
                        p 
                            a(href='') ACTION EYEWEAR
                        p 
                            a(href='') AIGNER
                        p 
                            a(href='') AIRWAYS
                        p 
                            a(href='') AKEMI
                        p 
                            a(href='') AKIYO
                        p 
                            a(href='') ALPHA
                        p 
                            a(href='') ALLAN BROOKE
                        p 
                            a(href='') ALAIN DELON
                        p 
                            a(href='') ALLEBEBE
                        p 
                            a(href='') ALLERHAND
                        p 
                            a(href='') ALEX LIDDY
                        p 
                            a(href='') ALEXANDRE DE PARIS
                        p 
                            a(href='') ALPHA GEAR
                        p 
                            a(href='') AMERICAN TOURISTER
                        p 
                            a(href='') ADIDAS
                        p 
                            a(href='') ANGRY BIRDS
                        p 
                            a(href='') ANNE KELLY
                        p 
                            a(href='') ALAIN DELON
                        p 
                            a(href='') ANAMALZ
                        p 
                            a(href='') APRICA
                        p 
                            a(href='') ARNOLD PALMER
                        p 
                            a(href='') ARISTA
                        p 
                            a(href='') AROMABABY
                        p 
                            a(href='') ARTHUR PRICE
                        p 
                            a(href='') ATTIPAS
                        p 
                            a(href='') ASCASO
                        p 
                            a(href='') ASHIQA
                        p 
                            a(href='') ASVEL
                        p 
                            a(href='') AVENGERS
                        p 
                            a(href='') AVENT
                        p 
                            a(href='') ARISTA
                        
