section.banner-carousel(data-slickjs='bannerCarousel')
    .banner-item
        .banner-item-image(style='background-image: url(../assets/images/pages/brand/carousel/brand-landing.jpg);')
        .container.cont-16
            .banner-hero
                table.banner-hero-middle
                    tbody
                        tr
                            td
                                .brand-hero-title.top #{title}
                                .brand-hero-subtitle From fashion and beauty to home and beyond, there's something for everyone at Robinsons.
section.container.cont-16            
    section.site-section.bottom-line
        .heading
            .heading-title.txt-center EXCLUSIVELY @ ROBINSONS
        .brand-wrapper.clearfix
            .brand-col
                a(href='#/')
                    .brand-image
                        img(src=  imgPath + 'pages/brand/brand-logo/allan-brooke.jpg')
            .brand-col
                a(href='#/')
                    .brand-image
                        img(src=  imgPath + 'pages/brand/brand-logo/capodarte.jpg')
            .brand-col
                a(href='#/')
                    .brand-image
                        img(src=  imgPath + 'pages/brand/brand-logo/coast.jpg')
            .brand-col
                a(href='#/')
                    .brand-image
                        img(src=  imgPath + 'pages/brand/brand-logo/quiz.jpg')
            .brand-col
                a(href='#/')
                    .brand-image
                        img(src=  imgPath + 'pages/brand/brand-logo/zeal.jpg')
        .button-wrapper.txt-center
            a.button.black(href= rootBase +  'brands/exclusive.html') See All Exclusive Brands

    section.site-section
        .heading
            .heading-title.txt-center More popular brands
        .brand-wrapper.clearfix
            .brand-col
                a(href='#/')
                    .brand-image
                        img(src=  imgPath + 'pages/brand/brand-logo/john-lewis.jpg')
            .brand-col
                a(href='#/')
                    .brand-image
                        img(src=  imgPath + 'pages/brand/brand-logo/vispring.jpg')
            .brand-col
                a(href='#/')
                    .brand-image
                        img(src=  imgPath + 'pages/brand/brand-logo/rebecca-minkoff.jpg')
            .brand-col
                a(href='#/')
                    .brand-image
                        img(src=  imgPath + 'pages/brand/brand-logo/oasis.jpg')
            .brand-col
                a(href='#/')
                    .brand-image
                        img(src=  imgPath + 'pages/brand/brand-logo/native-youth.jpg')
        .button-wrapper.txt-center
            a.button.black(href='#/') See All Brands  
            a.button.black(href='#/') Brands @ Robinsons KL    
            a.button.black(href='#/') Brands @ Robinsons The Garden Mall
