section.banner-carousel(data-slickjs='bannerCarousel')
    .banner-item
        .banner-item-image(style='background-image: url(../assets/images/pages/legal-policy/carousel/legal-landing.jpg);')
        .container.cont-16
            .banner-hero
                table.banner-hero-middle
                    tbody
                        tr
                            td
                                .brand-hero-title Privacy Policy
section.site-section.typo-section
    .container.cont-16
        .typography-wrapper
            .typography-content ROBINSON &amp; CO. (M) SDN. BHD takes our site users' privacy seriously. Please read the following to understand more about our privacy policy.
        .typography-wrapper
            .typography-title Information Collection and Use
            .typography-content
                p ROBINSON &amp; CO. (M) SDN. BHD collects personal information when you register onto our mailing list, wish to contact us, interested in our web offers, take part in our online activities and when you enter our promotions, surveys or contests.
                p ROBINSON &amp; CO. (M) SDN. BHD uses information for the following general purposes: to better understand our users' profiles & needs, fulfil your requests for products and services, improve our services, conduct research, contact you to inform you of promotions from ROBINSON &amp; CO. (M) SDN. BHD and our 3rd party advertisers (only if you have opted to receive them).
        .typography-wrapper
            .typography-title Information Sharing and Disclosure
            .typography-content
                p ROBINSON &amp; CO. (M) SDN. BHD will comply to subpoenas, court orders, or legal process from authorities investigating any alleged offence, misdeeds and/or abuse or for the purposes of taking legal action against any users for breach of the Terms & Conditions, or to establish or exercise our legal rights or defend against legal claims.
        .typography-wrapper
            .typography-title Use of Cookies
            .typography-content
                p ROBINSON &amp; CO. (M) SDN. BHD uses "cookies", where a small data file is sent to your browser to store and track information regarding you when you enter our web site. The cookie is used to track information such as frequency of site visit and duration of visit and web pages visited. This is to allow us to understand our web traffic better and pave way for our future site improvement. While this cookie can tell us when you enter our web site and which web pages you visit, it cannot read data off your hard disk.
        .typography-wrapper
            .typography-title Confidentiality & Security
            .typography-content
                p We limit access to personal information about you to a small number of our employees who we believe reasonably need to come into contact with that information to provide products or services to you. 
                p Our site hosting provider is also bounded by a legal contract to assist us to protect your personal information. 
        .typography-wrapper
            .typography-title Privacy Policy Changes
            .typography-content
                p ROBINSON &amp; CO. (M) SDN. BHD may update this policy from time to time in view of market needs. We will notify you about significant changes in the way we treat personal information by placing a prominent notice on our web site. 
        .typography-wrapper
            .typography-content
                p.font-italic This privacy policy is last updated on 25 September 2017
