section.banner-carousel(data-slickjs='bannerCarousel')
    .banner-item
        .banner-item-image(style='background-image: url(../assets/images/pages/legal-policy/carousel/term-landing.jpg);')
        .container.cont-16
            .banner-hero
                table.banner-hero-middle
                    tbody
                        tr
                            td
                                .brand-hero-title Terms &amp; Conditions

section.site-section.typo-section
    .container.cont-16
        .typography-wrapper
            .typography-content
                p Please read these terms and conditions carefully. A reference to this "website" is to websites owned and/or operated by ROBINSON &amp; CO. (M) SDN. BHD including but not limited to the information, text, images, links, graphics and video sequences displayed therein (the "Materials").
                p Site users, by accessing this website and any web pages thereof, agree to be bound by the terms and conditions below. If you do not agree to the terms and conditions below, do not access this site or any web pages thereof.
        .typography-wrapper
            .typography-content.typography-numeral
                ol
                    li.typography-num
                        span No Warranty for the Website and/or the Materials
                        ol
                            li This website and the Materials are provided "as is", "as available". ROBINSON &amp; CO. (M) SDN. BHD does not warrant the accuracy, adequacy or completeness of this website and/or the Materials and expressly disclaims liability for errors or omissions in the Materials. No warranty of any kind, implied, express or statutory, including but not limited to the warranties of non-infringement of third party rights, title, merchantability, satisfactory quality and/or fitness for a particular purpose, is given in conjunction with the Materials and/or this website.    
                            li ROBINSON &amp; CO. (M) SDN. BHD does not warrant that any of the Materials or that this website will be provided uninterrupted or free from errors or that any identified faults will be corrected; further, no warranty is given that this website and the Materials are free from any computer virus or other malicious, destructive or corrupting code/programme.
                    li.typography-num 
                        span Intellectual Property
                        ol
                            li
                                .typography-sub Copyright
                                .typography-block The copyright in this website is owned by ROBINSON &amp; CO. (M) SDN. BHD or its licensors. No part or parts hereof may be reproduced, distributed, adapted, modified, republished, displayed, hyperlinked, transmitted or framed in any manner or by any means or stored in an information retrieval system without the prior written permission of ROBINSON &amp; CO. (M) SDN. BHD. However, you may download and print the Materials on this website for personal and non-commercial use only, provided you do not modify the Materials and that you retain all copyright as well as other proprietary notices contained in the Materials. You also may not, without the permission of ROBINSON &amp; CO. (M) SDN. BHD, insert a hyperlink to this website on any other website or "mirror" any Material contained on this website on any other server in Singapore or beyond.
                            li
                                .typography-sub Trade Marks
                                .typography-block The trademarks, service marks and logo (the "Trade Marks") used and displayed on this website are registered and unregistered Trade Marks of ROBINSON &amp; CO. (M) SDN. BHD, its subsidiaries or its licensors. Nothing on this website should be construed as granting, by implication, estoppel, or otherwise, any license or right to use any of the Trade Marks displayed on this website, without the written permission of ROBINSON &amp; CO. (M) SDN. BHD. ROBINSON &amp; CO. (M) SDN. BHD and its subsidiaries enforce their intellectual property rights to the fullest extent of the law. The name of ROBINSON &amp; CO. (M) SDN. BHD or the Trade Marks may not be used in any way, including in advertising or publicity pertaining to the distribution of Materials on this website, without prior written permission of ROBINSON &amp; CO. (M) SDN. BHD. ROBINSON &amp; CO. (M) SDN. BHD prohibits use of the Trade Marks as a web link or hyperlink to any ROBINSON &amp; CO. (M) SDN. BHD site or any other site unless establishment of such a link is approved in advance by ROBINSON &amp; CO. (M) SDN. BHD in writing.
                    li.typography-num 
                        span Contributions to ROBINSON &amp; CO. (M) SDN. BHD 
                        .typography-block By submitting content, ideas, suggestions, documents, and/or proposals ("Contributions") to ROBINSON &amp; CO. (M) SDN. BHD through its suggestion or feedback web pages, you acknowledge and agree that: (a) your Contributions do not contain confidential or proprietary information; (b) ROBINSON &amp; CO. (M) SDN. BHD is not under any obligation of confidentiality, express or implied, with respect to the Contributions; (c) ROBINSON &amp; CO. (M) SDN. BHD shall be entitled to use or disclose (or choose not to use or disclose) such Contributions for any purpose, in any way, in any media worldwide; (d) your Contributions automatically become the property of ROBINSON &amp; CO. (M) SDN. BHD without any obligation of ROBINSON &amp; CO. (M) SDN. BHD to you; and (e) you are not entitled to any compensation or reimbursement of any kind from ROBINSON &amp; CO. (M) SDN. BHD under any circumstances; (f) you should not submit any information and/or other materials which are or may be offensive, abusive, illegal or which may not be lawfully disseminated under the laws of Singapore or any other known country.
                    li.typography-num 
                        span Exclusion of Liability
                        .typography-block ROBINSON &amp; CO. (M) SDN. BHD shall in no event be liable for any damages, loss or expense including without limitation, direct, indirect, special, or consequential damage, or economic loss arising from or in connection with:
                        .typography-block (1) any access, use or the inability to access or use this website, or reliance on the Materials and/or any information in this website;
                        .typography-block (2) any system, server or connection failure, error, omission, interruption, delay in transmission, or computer virus; and
                        .typography-block (3) any use of or access to any other website linked to this website,
                        .typography-block even if ROBINSON &amp; CO. (M) SDN. BHD or its agents or employees are advised of the possibility of such damages, losses and/or expenses. Any hyperlinks to any other websites are not an endorsement of such websites and such websites should only be accessed at the site user's own risks. This exclusion clause shall take effect to the fullest extent permitted by Singapore law.
                    li.typography-num
                        span Governing Law 
                        .typography-block By accessing this website, you fully agree that Singapore law, including without limitation the provisions of the Singapore Evidence Act (Chapter 97) and the Electronic Transactions Act (No 25. of 1998), shall govern such access as well as the above terms and you fully agree to submit to the exclusive jurisdiction of the Singapore courts.
                    li.typography-num
                        span Third Parties Rights 
                        .typography-block No person shall have any right pursuant to the Contracts (Right of Third Parties) Act 2001 to enforce any of the above terms and conditions. The reference to a person, in this clause includes any individual, company, corporation, firm, partnership, joint venture, association, organisation, trust, state or agency of a state (in each case, whether or not having separate legal personality). You fully agree that, except as otherwise expressly provided in this Terms and Conditions, there shall be no third-party beneficiaries to this agreement.
