section.banner-carousel(data-slickjs='bannerCarousel')
    .banner-item
        .banner-item-image(style='background-image: url(../assets/images/pages/search/carousel/search-landing.jpg);')
        .container.cont-16
            .banner-hero
                table.banner-hero-middle
                    tbody
                        tr
                            td
                                .brand-hero-title Search Results

section.site-section.search-section-page
    .container.cont-16
        .search-holder-section
            form
                .form-group
                    input(type='text' placeholder='Search...' class='form-control update search-input' name='query' value="gfgf")
                    button.button.submit(type='submit' value='Search')
                        | Search

        .search-results-info Your search results for “
            strong terms 
            | ”

        .search-result-wrapper
            .result-section.tnc-section
                a.button.black(href='#/') Terms &amp; conditions
                .content.tnc-content 
                    strong Terms 
                    | &amp; Conditions Please read these terms and conditions carefully. A reference to this "website" is to websites owned and/or operated by ROBINSON &amp; CO. (M) SDN. BHD including but not limited to the information, text, images, links, graphics and video sequences displayed therein....


            .result-section.privacy-policy-section
                a.button.black(href='#/') Privacy Policy
                .content.privacy-policy-content isdeeds and/or abuse or for the purposes of taking legal action against any users for breach of the 
                    strong Terms 
                    | &amp; Conditions, or to establish or exercise our legal rights or defend against legal claims. Use of Cookies ROBINSON &amp; CO. (M) SDN. BHD uses "cookies", where a small data file is sent to your browser to store and track information regarding you when you enter our web site. The cookie is used to track information such as frequency of site visit and duration of visit and web pages visited. This is to allow us to understand our web traffic better and pave way for our future site improvement. While this cookie can tell us when you enter our web site and which web pages you visit, it cannot read data off your hard disk. Confidentiality &amp; Security We limit access to persona ...