section.site-section.thanks-section-page
    .container.cont-16
        .title.thanks-title Thank You
        .content.thanks-content.content-sub #[strong You'll now receive updates on our latest promos, events and more!]
        .content.thanks-content For Personal Shopper and Robinsons KL, my understanding is that they will only be required .#[span(class="noSpace") when Robinsons KL opens. For now, just the Coming Soon page will be enough.]