section.banner-carousel(data-slickjs='bannerCarousel')
    .banner-item
        .banner-item-image(style='background-image: url(../assets/images/pages/about-us/carousel/career-landing.jpg);')
        .container.cont-16
            .banner-hero
                table.banner-hero-middle
                    tbody
                        tr
                            td
                                .brand-hero-title Careers
                                .brand-hero-subtitle The Robinson Group of Companies, part of the Al-Futtaim Group, is a highly-established retail group comprising Robinson and Marks &amp; Spencer.
section.career-section
    .container.cont-16
        .decoration-wrapper
            .deco-01
            .deco-infogram.txt-center
                .deco-title WHY JOIN ROBINSONS
                .deco-flavor For over 155 years, we at the Robinsons Group of Companies have been bringing out the best in our staff by nurturing, supporting and rewarding them.
                .deco-subtitle  We pride ourselves in mentoring our employees, sharing with them invaluable retail and F&B knowledge and experience. We know the importance of upgrading – that’s why as part of the Robinson family, you’ll get to attend relevant courses to hone your skills. Our strong family-focused culture also ensures a rewarding work experience for all staff. 

section.site-section
    .container.cont-16
        .heading
            .heading-title.txt-center AVAILABLE POSITIONS
        .button-wrapper.txt-center.career-button
            a.button.black(href='#/', data-popup-open='popup-apply') Project Executive
            a.button.black Administrative Assistant
            a.button.black Accounts Assistant
            a.button.black Cash Office Assistant
        .career-info.txt-center 
            | Interested candidates, please send your detailed resumes with your preferred job title as the #[br] subject header to 
            a(href='mailto:careers@robinsons.my') careers@robinsons.my
            |.
        .career-more.txt-center Don’t fit any of those positions? Check below for more open positions.
        .button-wrapper.txt-center
            a.button.black(href='') More Positions

section.popup-section
    .careers-popup.popup.clearfix(data-popup='popup-apply')
        .popup-table
            .popup-table-cell
                .popup-inner
                    .careers-col
                        .careers-row
                            .careers-cell.col-01.bg-holder.bg-desktop(style='background-image:url(../assets/images/pages/about-us/career/img-01.jpg)')
                                .info-holder
                                    .careers-name Project Executive
                            .careers-cell.col-02
                                .info-holder.simplebar-holder
                                    .careers-info(data-simplebar='init', data-simplebar-autohide="false")
                                        .careers-holder.careers-responsibilities
                                            strong Responsibilities:
                                            ul.style-dot
                                                li Selling products and collecting payments
                                                li Making product recommendation to customers
                                                li Performing makeovers to customers
                                                li Presenting information about products
                                                li Demonstrate how to use products and explain how products work
                                        .careers-holder.careers-requirements
                                            strong Requirements:
                                            ul.style-dot
                                                li Selling products and collecting payments
                                                li Making product recommendation to customers
                                                li Performing makeovers to customers
                                                li Presenting information about products
                                                li Demonstrate how to use products and explain how products work
                                    a.button.black.btn-applyNow(href='#/') Apply Now
                    a.popup-close.icon-close(data-popup-close='popup-apply' href='#/')