section.banner-carousel(data-slickjs='bannerCarousel')
    .banner-item
        .banner-item-image(style='background-image: url(../assets/images/pages/about-us/carousel/heritage-landing.jpg);')
        .container.cont-16
            .banner-hero
                table.banner-hero-middle
                    tbody
                        tr
                            td
                                .brand-hero-title ROBINSONS HERITAGE
                                .brand-hero-subtitle.wide A Singapore Icon that Needs Little Introduction
section.site-section.articles-box
    .container.cont-16
        .box-images-holder.txt-center
            img(src= imgPath + 'ui/logo-small-transparent.png')
        .box-wide-container.txt-center
            .box-heading At the heart of Singapore lies an unparalleled shopping experience enjoyed by international travellers from everywhere. 
            .box-subheading And at the heart of this shopping experience lies Robinsons – an immaculately curated selection of merchandise set in an environment that is as accessible as it is inspiring. Much more than just retail, the Robinsons experience is a place where timeless beauty meets creative innovation. Where customers have access to the world’s most coveted designers and exclusive labels, and where the best of local couturiers share an international spotlight.
            .box-gallery.clearfix
                .box-gallery-cell.cell-01
                    img(src= imgPath + 'pages/about-us/heritage/img-01.jpg')
                .box-gallery-cell.cell-02
                    img(src= imgPath + 'pages/about-us/heritage/img-02.jpg')
                .box-gallery-cell.cell-03
                    img(src= imgPath + 'pages/about-us/heritage/img-03.jpg')
        .box-half-container
            .box-half-row
                .box-half-cell.align-md-right
                    .box-images-holder
                        img(src= imgPath + 'pages/about-us/heritage/img-11.jpg')
                .box-half-cell   
                    .box-desc
                        .box-desc-title The Shop that Became the #[br] Heart of Singapore
                        .box-desc-info 
                            p The story of Robinsons began on 25 February 1858, when John Spicer and Philip Robinson founded Spicer and Robinson, a family warehouse at Commercial Square. And having operated across 3 centuries, Robinsons has no desire of deviating from a vision established more than 158 years ago – to provide customers with accessible, contemporary products and a thoroughly enjoyable shopping experience.
        .box-half-container
            .box-half-row
                .box-half-cell.align-md-left
                    .box-images-holder.transform-right
                        img(src= imgPath + 'pages/about-us/heritage/img-12.jpg')
                .box-half-cell
                    .box-desc.transform-left
                        .box-desc-title A New Age for Retail
                        .box-desc-info 
                            p Since acquiring Robinsons in 2008, the Al-Futtaim group has ushered in a new age of retail, expanding beyond Singapore’s shores and into the Asian shopping capitals of Malaysia and Dubai.
                            p Beyond just shopping, Robinsons stores now offer experiences previously unimaginable in retail. Personalised beauty services in private suites, personal shopping expertise in VIP lounges for all our customers, and lifestyle innovations that include gourmet food, fashion and curated home collections. So even though much has changed since 1858, the Robinsons passion and dedication to the finest shopping experience hasn’t.
                
