extends ../include/defaults

block config
    - rootBase = '../'
    - title = 'What\'s Happening'
    - breadcrumb = ''
    - pageClass = 'whats-happening'
    - imgPath = rootBase + 'assets/images/'
    - cssPath = rootBase + 'assets/css/internal/'
    - jsPath  = rootBase + 'assets/js/'

block stylesheet
    link(rel='stylesheet', href = rootBase + 'assets/css/internals/service.min.css')
    
block javascript

block content
    include ../include/components/_breadcrumb
    include ../include/partials/whats-happening/_index
