section.carousel(data-slickjs='mainCarousel')
    .carousel-item(data-title='Native & Youth')
        a(href='#/')
            .carousel-item-banner.banner-desktop(style='background-image: url(assets/images/pages/home/carousel/desktop_1.jpg);')
            .carousel-item-banner.banner-mobile(style='background-image: url(assets/images/pages/home/carousel/mobile_1.jpg);')    
    .carousel-item(data-title='Clarins')
        a(href='#/')
            .carousel-item-banner.banner-desktop(style='background-image: url(assets/images/pages/home/carousel/desktop_2.jpg);')
            .carousel-item-banner.banner-mobile(style='background-image: url(assets/images/pages/home/carousel/mobile_2.jpg);')
    .carousel-item(data-title='Coast - London')
        a(href='#/')
            .carousel-item-banner.banner-desktop(style='background-image: url(assets/images/pages/home/carousel/desktop_1.jpg);')
            .carousel-item-banner.banner-mobile(style='background-image: url(assets/images/pages/home/carousel/mobile_1.jpg);')
    .carousel-item(data-title='Besty')
        a(href='#/')
            .carousel-item-banner.banner-desktop(style='background-image: url(assets/images/pages/home/carousel/desktop_2.jpg);')
            .carousel-item-banner.banner-mobile(style='background-image: url(assets/images/pages/home/carousel/mobile_2.jpg);')
    .carousel-item(data-title='Mind bridge')
        a(href='#/')
            .carousel-item-banner.banner-desktop(style='background-image: url(assets/images/pages/home/carousel/desktop_1.jpg);')
            .carousel-item-banner.banner-mobile(style='background-image: url(assets/images/pages/home/carousel/mobile_1.jpg);')
    .carousel-dots

section.site-section.gallery-section
    .container.cont-16
        .heading    
            .heading-title.txt-center What’s Happening
        .home.gallery
            .main-gallery.clearfix
                .gallery-item.primary
                    a(href='#/')
                        .image-holder#isDesktop
                            img(src= rootBase + imgPath + 'pages/home/banner/banner-01.jpg')
                        .image-holder#isMobile
                            img(src= rootBase + imgPath + 'pages/home/banner/banner-01-mobile.jpg')
                .gallery-item.secondary
                    a(href='#/')
                        .image-holder#isDesktop
                            img(src= rootBase + imgPath + 'pages/home/banner/banner-02.jpg')
                        .image-holder#isMobile
                            img(src= rootBase + imgPath + 'pages/home/banner/banner-02-mobile.jpg')
                .gallery-item.tertiary
                    .image-holder
                        img(src= rootBase + imgPath + 'pages/home/banner/banner-03.jpg')
                        .gallery-overlay
                            .overlay-table
                                .overlay-table-cell
                                    .overlay-holder.type-a
                                        .title Havaianas
                                        .subtitle Stall 16-3, 1st Floor
                .gallery-item.quartenary
                    .item-holder
                        .image-holder
                            img(src= rootBase + imgPath + 'pages/home/banner/banner-04.jpg')
                            .gallery-overlay(style='background-color: #7fdbd3;')
                                .overlay-table
                                    .overlay-table-cell
                                        .overlay-holder.type-b
                                            .title Slang
                                            .subtitle Stall 16-3, 1st floor
                    .item-holder
                        .image-holder
                            img(src= rootBase + imgPath + 'pages/home/banner/banner-05.jpg')
                            .gallery-overlay(style='background-color: #f8c737;')
                                .overlay-table
                                    .overlay-table-cell
                                        .overlay-holder.type-b
                                            .title Betsy
                                            .subtitle Stall 16-3, 1st floor
                    .item-holder
                        .image-holder
                            img(src= rootBase + imgPath + 'pages/home/banner/banner-06.jpg')
                    .item-holder
                        .image-holder
                            img(src= rootBase + imgPath + 'pages/home/banner/banner-07.jpg')
                    .item-holder
                        .image-holder
                            img(src= rootBase + imgPath + 'pages/home/banner/banner-08.jpg')
                    .item-holder
                        .image-holder
                            img(src= rootBase + imgPath + 'pages/home/banner/banner-09.jpg')

section.site-section.arrival-holder
    .container.cont-16
        .heading
            .heading-title.txt-center New Arrivals
        .arrival-carousel
            .arrival-wrapper(data-slickjs='arrivalCarousel')
                .arrival-item
                    a(href='#/')
                        .arrival-item-product(style='background-image: url(assets/images/pages/home/arrival/prod-01.jpg);')
                        .arrival-item-description
                            .item-title ALAIN DELON
                            .item-subtitle exQuisive high heel
                            .item-hr
                            .item-floor Available at Store 12-11, Gloor Floor
                .arrival-item
                    a(href='#/')
                        .arrival-item-product(style='background-image: url(assets/images/pages/home/arrival/prod-02.jpg);')
                        .arrival-item-description
                            .item-title BURBERRY
                            .item-subtitle The Baby Banner
                            .item-hr
                            .item-floor Available at Store 12-11, Gloor Floor
                .arrival-item
                    a(href='#/')
                        .arrival-item-product(style='background-image: url(assets/images/pages/home/arrival/prod-03.jpg);')
                        .arrival-item-description
                            .item-title Josef Seibel
                            .item-subtitle Dany 21
                            .item-hr
                            .item-floor Available at Store 12-11, Gloor Floor
                .arrival-item
                    a(href='#/')
                        .arrival-item-product(style='background-image: url(assets/images/pages/home/arrival/prod-03.jpg);')
                        .arrival-item-description
                            .item-title ALAIN DELON
                            .item-subtitle exQuisive high heel
                            .item-hr
                            .item-floor Available at Store 12-11, Gloor Floor
                .arrival-item
                    a(href='#/')
                        .arrival-item-product(style='background-image: url(assets/images/pages/home/arrival/prod-02.jpg);')
                        .arrival-item-description
                            .item-title ALAIN DELON
                            .item-subtitle exQuisive high heel
                            .item-hr
                            .item-floor Available at Store 12-11, Gloor Floor
                .arrival-item
                    a(href='#/')
                        .arrival-item-product(style='background-image: url(assets/images/pages/home/arrival/prod-01.jpg);')
                        .arrival-item-description
                            .item-title ALAIN DELON
                            .item-subtitle exQuisive high heel
                            .item-hr
                            .item-floor Available at Store 12-11, Gloor Floor
                .arrival-item
                    a(href='#/')
                        .arrival-item-product(style='background-image: url(assets/images/pages/home/arrival/prod-02.jpg);')
                        .arrival-item-description
                            .item-title ALAIN DELON
                            .item-subtitle exQuisive high heel
                            .item-hr
                            .item-floor Available at Store 12-11, Gloor Floor
                .arrival-item
                    a(href='#/')
                        .arrival-item-product(style='background-image: url(assets/images/pages/home/arrival/prod-01.jpg);')
                        .arrival-item-description
                            .item-title ALAIN DELON
                            .item-subtitle exQuisive high heel
                            .item-hr
                            .item-floor Available at Store 12-11, Gloor Floor
            .arrival-dots

section.site-section
    .container.cont-16
        .heading
            .heading-title.txt-center What’s in store
            .heading-subtitle.txt-center surprises at every corner
    .instore-carousel(data-slickjs='inStoreCarousel')
        .instore-item
            a(href='#/')
                .instore-item-suprise(style='background-image: url(assets/images/pages/home/in-store/store-01.jpg);')
                .instore-item-description
                    .item-title DINING @ ROBINSONS Kl
        .instore-item
            a(href='#/')
                .instore-item-suprise(style='background-image: url(assets/images/pages/home/in-store/store-02.jpg);')
                .instore-item-description
                    .item-title In-store services
        .instore-item
            a(href='#/')
                .instore-item-suprise(style='background-image: url(assets/images/pages/home/in-store/store-03.jpg);')
                .instore-item-description
                    .item-title Getting there
        .instore-item
            a(href='#/')
                .instore-item-suprise(style='background-image: url(assets/images/pages/home/in-store/store-04.jpg);')
                .instore-item-description
                    .item-title Fashion &amp; Style
        .instore-item
            a(href='#/')
                .instore-item-suprise(style='background-image: url(assets/images/pages/home/in-store/store-05.jpg);')
                .instore-item-description
                    .item-title Fashion &amp; Style
