extends ../include/defaults

block config
    - rootBase = '../'
    - title = 'Store'
    - breadcrumb = 'Robinsons singapore'
    - pageClass = 'store'
    - imgPath = rootBase + 'assets/images/'
    - cssPath = rootBase + 'assets/css/internal/'
    - jsPath  = rootBase + 'assets/js/'

block stylesheet
    link(rel='stylesheet', href = rootBase + 'assets/css/internals/stores.min.css')

block javascript
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD17rxIfC9QZWnwGPoK9LlkkrNaM0SPX0M&callback=mapSingapore', async, defer)
    
block content
    include ../include/components/_breadcrumb
    include ../include/partials/stores/_singapore
