//- Configuration Variable 
//- Default Value if no value assigned in individual pages

//- Page Title 
- title = 'Untitled'

//- Use case: Mixin Navigation 
//- Add class='active' on selected value
- selected = ''

//- Global Relative Path trailing   
- rootBase = './'

- imgPath = 'assets/images/'
- cssPath = 'assets/css/'
- jsPath  = 'assets/js/'

//- Landing Page Main Classes
- pageClass = ''

- breadcrumb = ''
