extends ../include/defaults

block config
    - rootBase = '../'
    - title = 'Brands'
    - breadcrumb = ''
    - pageClass = 'brand'
    - imgPath = rootBase + 'assets/images/'
    - cssPath = rootBase + 'assets/css/internal/'
    - jsPath  = rootBase + 'assets/js/'

block stylesheet
    
block javascript

block content
    include ../include/components/_breadcrumb
    include ../include/partials/brands/_index
