extends ../include/defaults

block config
    - rootBase = '../'
    - title = 'Stores'
    - breadcrumb = 'New Arrivals'
    - pageClass = 'store-front'
    - imgPath = rootBase + 'assets/images/'
    - cssPath = rootBase + 'assets/css/internal/'
    - jsPath  = rootBase + 'assets/js/'

block stylesheet
    
block javascript

block content
    include ../include/partials/store-front/_details-page
