section.breadcrumb
    .container.cont-16
        .breadcrumb-wrapper
            a.bread-link(href='#/') Home
            span &gt;
            a.bread-link(href='#/') #{title}
            span &gt;
            a.bread-link(href='#/') #{breadcrumb}
            span &gt;
            a.bread-link.here(href='#/') marcy ruffle t-shirt
section.site-section.store-section.bg-smoke-white.clearfix(data-row-equaliser='.info-col')
    .container.cont-16
        .store-product-gallery.info-col
            .tabs
                ul.tab-links
                    li.active
                        a(href='#tab1')
                            img(src= imgPath + 'pages/store-front/product/1/thumb/thumb-01.jpg')
                    li
                        a(href='#tab2')
                            img(src= imgPath + 'pages/store-front/product/1/thumb/thumb-01.jpg')
                    li
                        a(href='#tab3')
                            img(src= imgPath + 'pages/store-front/product/1/thumb/thumb-01.jpg')
                    li
                        a(href='#tab4')
                            img(src= imgPath + 'pages/store-front/product/1/thumb/thumb-01.jpg')
                .tab-content
                    #tab1.tab.active
                        img(src= imgPath + 'pages/store-front/product/1/main/img-01.jpg')
                    #tab2.tab
                        img(src= imgPath + 'pages/store-front/product/1/main/img-01.jpg')
                    #tab3.tab
                        img(src= imgPath + 'pages/store-front/product/1/main/img-01.jpg')
                    #tab4.tab
                        img(src= imgPath + 'pages/store-front/product/1/main/img-01.jpg')
        .store-product-info
            .product-info.vertical-middle.info-col
                .title MARCY RUFFLE T-shirt
                .desc Statement ruffles like the Marcy Ruffle Soft Skirt were made for sashaying around in. Try it teamed with our Mini Ruffle Top for a show-stopping look. This skirt measures 111cm from centre back to hem including waistband. Height of model shown: 5ft 9.5inches/176.5cm. Model wears: UK size 8.
                .subtitle Product details
                .details
                    .details-01 
                        span.semi Fabric: Main: 
                        span 100.0% Polyester. Lining: 100.0% Polyester.
                    .details-02 
                        span.semi Wash care: 
                        span Dry Clean
                    .details-03 
                        span.semi Product code: 
                        span 1861880
                a.button.black(href='') Back to new arrivals
            
