section.bg-smoke-white
    .container.cont-16
        .store-front.gallery.clearfix
            .gallery-item.primary
                a(href='#/')
                    .image-holder
                        img(src= imgPath + 'pages/store-front/gallery/main-img.jpg')
            .gallery-item.secondary
                .gallery-item.tertiary
                    a(href='#/')
                        .image-holder
                            img(src= imgPath + 'pages/store-front/gallery/small-img-01.jpg')
                .gallery-item.tertiary
                    a(href='#/')
                        .image-holder
                            img(src= imgPath + 'pages/store-front/gallery/small-img-02.jpg')
                .gallery-item.quartenary
                    a(href='#/')
                        .image-holder
                            img(src= imgPath + 'pages/store-front/gallery/secondary-img.jpg')

section.site-section.main-store.clearfix
    .container.cont-16
        .store-sidebar
            a.button.black.sidebar-activator(href='javascript: void(0);')
                | Filter
                i.icon-wrapper.icon-down
            .sidebar-wrapper
                .sidebar-row
                    .sidebar-title Brands
                    .dropdown
                        i.caret-dropdown.icon-dropdown
                        select.dropdown-control
                            option All Brands
                .sidebar-row
                    .sidebar-title Categories
                    .accordion.category-accordion
                        .accordion-section
                            a.category-link(href='#/')
                                span Exclusives
                        .accordion-section
                            a.accordion-section-title.category-link.current(href='#accordion-2')
                                span Men
                            #accordion-2.accordion-section-content
                                .category-holder
                                    a.category-sublink.current(href='#/')
                                        span T-Shirts
                                    a.category-sublink(href='#/')
                                        span Jackets
                                    a.category-sublink(href='#/')
                                        span Jeans
                                    a.category-sublink(href='#/')
                                        span Trousers
                        .accordion-section
                            a.accordion-section-title.category-link(href='#accordion-3')
                                span Women
                            #accordion-3.accordion-section-content
                                .category-holder
                                    a.category-sublink.current(href='#/')
                                        span T-Shirts
                                    a.category-sublink(href='#/')
                                        span Jackets
                                    a.category-sublink(href='#/')
                                        span Jeans
                                    a.category-sublink(href='#/')
                                        span Trousers
                        .accordion-section
                            a.accordion-section-title.category-link(href='#accordion-4')
                                span Shoes &amp; Accessories
                            #accordion-4.accordion-section-content
                                .category-holder
                                    a.category-sublink.current(href='#/')
                                        span T-Shirts
                                    a.category-sublink(href='#/')
                                        span Jackets
                                    a.category-sublink(href='#/')
                                        span Jeans
                                    a.category-sublink(href='#/')
                                        span Trousers
                        .accordion-section
                            a.category-link(href='#/')
                                span Beauty

        .store-content
            .pagination-wrapper.clearfix
                .paginate Showing 1 to 16 of 17 total
            .store-columns.clearfix
                .store-list
                    a.product-link(href= rootBase + 'store-front/details-page.html')
                        .product-image-holder
                            img(src= imgPath + 'pages/store-front/store/img-01.jpg')
                            .overlay
                        .product-name
                            | Ted Baker
                        .product-desc
                            | Model Guy Sweater
                .store-list
                    a.product-link(href= rootBase + 'store-front/details-page.html')
                        .product-image-holder
                            img(src= imgPath + 'pages/store-front/store/img-02.jpg')
                            .overlay
                        .product-name
                            | Ted Baker
                        .product-desc
                            | Model Guy Sweater
                .store-list
                    a.product-link(href='#')
                        .product-image-holder
                            img(src= imgPath + 'pages/store-front/store/img-03.jpg')
                            .overlay
                        .product-name
                            | Ted Baker
                        .product-desc
                            | Model Guy Sweater
                .store-list
                    a.product-link(href='#')
                        .product-image-holder
                            img(src= imgPath + 'pages/store-front/store/img-03.jpg')
                            .overlay
                        .product-name
                            | Ted Baker
                        .product-desc
                            | Model Guy Sweater
                .store-list
                    a.product-link(href='#')
                        .product-image-holder
                            img(src= imgPath + 'pages/store-front/store/img-02.jpg')
                            .overlay
                        .product-name
                            | Ted Baker
                        .product-desc
                            | Model Guy Sweater
                .store-list
                    a.product-link(href='#')
                        .product-image-holder
                            img(src= imgPath + 'pages/store-front/store/img-01.jpg')
                            .overlay
                        .product-name
                            | Ted Baker
                        .product-desc
                            | Model Guy Sweater
            .pagination-wrapper.clearfix
                .paginate Showing 1 to 16 of 17 total
                .pagination
                    a(href='#/')
                        i.icon-wrapper.icon-left
                    a.active(href='#/') 1
                    a(href='#/') 2
                    a(href='#/') 3
                    a(href='#/') 4
                    a(href='#/') 5
                    a(href='#/') 6
                    a(href='#/') 7
                    a(href='#/') 8
                    a(href='#/') 9
                    a(href='#/') 10
                    a(href='#/') ....next 10
                    a(href='#/')
                        i.icon-wrapper.icon-right
